<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tck.pluginlib">

    <application>
        <activity android:name=".PluginHomeActivity">
        </activity>
        <activity android:name=".ProxyActivity"/>
        <activity android:name=".ProxyActivity2"/>
    </application>

</manifest>